<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoneyScale - Taxa Selic</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/nav-page.css">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

</head>

<body>
    <!-- <header>
        <div class="main-container">
            <div class="logo-header">
                <a href="index.html">
                    <img src="../images/logo-icon.svg" alt="">
                    <span>MoneyScale</span>
                </a>
            </div>
        </div>

        <nav class="container-botoes">
            <ul class="navbar">
                <li><a href="renda-fixa.html">RENDA FIXA</a></li>
                <li>
                    <a id="menu-verde" href="taxa-selic.html">TAXA SELIC</a>
                </li>
                <li><a href="tesouro-direto.html">TESOURO DIRETO</a></li>
                <li>
                    <a href="lci-lca.html">LCI e LCA</a></li>
                <li><a href="cdi.html">CDI</a></li>
                <li><a href="cdb.html">CDB</a></li>
            </ul>
        </nav>
    </header> -->
    <header>
        <div class="flex-menu">
            <div id="flex-logo">
                <a href="index.html"><img src="../images/logo-icon.svg" alt="Logo"></a>
                <a href="index.html">
                    <h1>MoneyScale</h1>
                </a>
            </div>
            <div class="top-nav">
                <input id="menu-toggle" type="checkbox" />
                <label class='menu-button-container' for="menu-toggle">
                <div class='menu-button'></div>
              </label>
                <ul class="menu">
                    <li>
                        <a href="renda-fixa.html">RENDA FIXA</a>
                    </li>
                    <li>
                        <a href="taxa-selic.html">TEXA SELIC</a>
                    </li>
                    <li>
                        <a href="tesouro-direto.html">TESOURO DIRETO</a>
                    </li>
                    <li>
                        <a href="lci-lca.html">LCI e LCA</a>
                    </li>
                    <li>
                        <a href="cdi.html">CDI</a>
                    </li>
                    <li>
                        <a id="radios" href="cdb.html">CDB</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <a href="index.html" id="back"><img src="../images/back.svg" alt="Voltar para o início"></a>


    <div class="content-container-nav">
        <h4>Taxa Selic?</h4>
        <p>
            A taxa Selic representa os juros básicos da economia brasileira. Os movimentos da Selic influenciam todas as taxas de juros praticadas no país – sejam as que um banco cobra ao conceder um empréstimo, sejam as que um investidor recebe ao realizar uma aplicação
            financeira. A Selic tem esse nome por conta do Sistema Especial de Liquidação e de Custódia, um sistema administrado pelo Banco Central em que são negociados títulos públicos federais. A taxa média registrada nas operações feitas diariamente
            nesse sistema equivale à taxa Selic. Mas de que tipo de operações estamos falando? São empréstimos de curtíssimo prazo – com vencimento em apenas um dia – realizados entre as instituições financeiras, que têm títulos públicos federais dados
            como garantia.
        </p>
    </div>

    <footer>
        <img src="../images/logo-icon.svg " alt="Logo-Footer">
        <p>copyright &copy; 2022
        </p>
    </footer>
</body>

</html>